
@{
    ViewBag.Title = "Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.ArtistName</h2>

<table class="table">
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Release Year
        </th>
        <th>
            Average Track Popularity
        </th>
        <th>
            Longest Track
        </th>
        <th>
            Longest Track Length
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.albumName
            </td>
            <td>
                @item.releaseYear
            </td>
            <td>
                @item.averageTrackPopularity
            </td>
            <td>
                @item.longestTrackName
            </td>
            <td>
                @item.longestTrackLength
            </td>
        </tr>
    }

</table>
